extends layout

block content
    body
        nav
            span
                p
                    a(href='/index' class="Bdir") BUSINESS DIRECTORY
            ul
                li 
                    a(href='/index') HOME
                li 
                    a(href='/entities') BUSINESSES
    div(class='container')
        h2 Click to add a new Business Entity
        form(method='post', action='/entities/add', enctype='multipart/form-data')
            div(class='col-lg-8 col-lg offset-2')
                div(class='row control-group')
                    label Image
                    input(type='file', name='fileUploadImage', required, placeholder='Image...')
                div(class='row control-group')
                    label Title
                    input(name='title', required, placeholder='Title...')
                div(class='row control-group')
                    label Industry
                    input(name='industry', required, placeholder='Description...')
                div(class='row control-group')
                    label City
                    input(name='city', required, placeholder='City...', type='text')
                div(class='row control-group')
                    label Province
                    input(name='province', required, placeholder='Province...', type='text')
                div(class='row control-group')
                    label Birth
                    input(name='birth', required, placeholder='Birth...', type='text')
                div(class='row control-group')
                    label Website
                    input(name='website', required, placeholder='Website...',)
                input(type='submit', value='Add Entity' class='frm-btn')
                div(class='collapse navbar-collapse' class='frm-btn')
                    a(href='/entities', title='View Entities') View Entities
