extends layout

block content
 body
  nav
   span
    p
     a(href='/index' class="Bdir") BUSINESS DIRECTORY
   ul
    li 
     a(href='/index') HOME
    li 
     a(href='/entities') BUSINESSES
  .container 
   section
    h1 Welcome to B Directory
    h4  Please follow the navigation
 footer
  p &copy; B Directory 2015