body {
  min-width:535px;
  height:100%;
  color: #222;
  background-color: #3b5998;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 140%;
}
nav{
	width:100%;
	min-width:535px;
	height: 70px;
	background-color: #232323;
	position:absolute;
		top: 0;
		left:0;
	float:left;
}
nav span p{
	margin-top: 20px;
}
.Bdir{
	color:#fff;
	font-family: Tahoma, Geneva, sans-serif;
	font-size:20px;
	font-weight: 700;
	margin: 10px 10px;
}
ul{
	float:right;
	margin-top: -20px;
}
ul li{
	display:inline;
}
ul li a{
	color:#fff;
	font-size:18px;
	text-decoration: none;
	list-style: none;
	padding: 20px 30px;
}
.container{
	margin-top: 8%;
	width: 60%;
	height: 400px;
	background: #f2f2f2;
	border-radius: 20px;
}
.container section {
	text-align:center;
	margin-top: 18%;
	color: #333;
}
form{
	color: #333;
}
form label{
	width: 120px;
	height: 25px;
}
form input{
	width: 181px;
	height: 35px;
}
.frm-btn{
	width: 250px;
	heights: 50px;
	margin-top: 20px;
}
.frm-btn a{
	color: #3b5998;
	font-weight:700;
	padding-left: 65px;	
}
tbody tr td a{
	padding:10px;
}
footer{
	width:100%;
	background-color: #232323;
	position:absolute;
		left:0;
	margin-bottom:0;
	float:left;
	clear:right;
}
footer p{
	font-size:16px;
	color: #f2f2f2;
	text-align:center;
	padding:20px;
}